extends layout
block content
  .container
    #profile-header
      img.profile-avatar(src="#{user.picture}")
  .container
    .jumbotron
      h1 Balls to the Wall
      p Share you thoughts.. in balls..
    .container
      #balls
        .ball
          .message Tjena en penis  asd asd asdas d asd asd asd asd asd asdas dqedqwd qsdsadasd asdsad
        .ball
          .message Ett kortare
        .ball
          .message En mellanlång rackare! Ytterst sällsynt med dessa mellanlånga
        .ball
          .message O dra mig baklänges på en cykel, detta var mig ett riktigt långt och oläsbart meddlenade! Fyskäms den som skrev detta bedrövliga meddelande!!
        .ball
          .message Tjena en penis  asd asd asdas d asd asd asd asd asd asdas dqedqwd qsdsadasd asdsad
        .ball
          .message Ett kortare
        .ball
          .message En mellanlång rackare! Ytterst sällsynt med dessa mellanlånga
        .ball
          .message O dra mig baklänges på en cykel, detta var mig ett riktigt långt och oläsbart meddlenade! Fyskäms den som skrev detta bedrövliga meddelande!!
        .ball
          .message Tjena en penis  asd asd asdas d asd asd asd asd asd asdas dqedqwd qsdsadasd asdsad
        .ball
          .message Ett kortare
        .ball
          .message En mellanlång rackare! Ytterst sällsynt med dessa mellanlånga
        .ball
          .message O dra mig baklänges på en cykel, detta var mig ett riktigt långt och oläsbart meddlenade! Fyskäms den som skrev detta bedrövliga meddelande!!
        .ball
          .message Tjena en penis  asd asd asdas d asd asd asd asd asd asdas dqedqwd qsdsadasd asdsad
        .ball
          .message Ett kortare
        .ball
          .message En mellanlång rackare! Ytterst sällsynt med dessa mellanlånga
        .ball
          .message O dra mig baklänges på en cykel, detta var mig ett riktigt långt och oläsbart meddlenade! Fyskäms den som skrev detta bedrövliga meddelande!!

    row
    hr
    footer
      p © Balls to the Wall 2013


  script(src='/javascripts/login-logout.js')
  script(src='/bootstrap/js/bootstrap.min.js')


