extends layout
block content
  .container
    #login-error-400.alert.alert-danger(style="display: none;") Wrong email and/or password!
    #login-error-500.alert.alert-danger(style="display: none;") Something went wrong at the server. Error 500
  .container
    .jumbotron
      h1 Balls to the Wall
      p This is a place to share your balls of ideas.

    .alert.alert-danger#register-error-password(style="display: none;") Password does not match

    form.form-horizontal(role='form')#register-form
      .form-group
        label.col-lg-2.control-label(for='Name' required='required') Name
        .col-lg-6
          input.form-control(name="name", type='text', placeholder='Dan Andreasson' required='required')
      .form-group
        label.col-lg-2.control-label(for='Email' required='required') Email
        .col-lg-6
          input.form-control(name="email", type='email', placeholder='Email@liu.se' required='required')
      .form-group
        label.col-lg-2.control-label(for='Password') Password
        .col-lg-6
          input.form-control(name="password", type='password', placeholder='Password' required='required')
      .form-group
        label.col-lg-2.control-label(for='PasswordAgain') Password again
        .col-lg-6
          input.form-control(name="password_again", type='password', placeholder='Password' required='required')
      .form-group
        .col-lg-offset-2.col-lg-6
          button.btn.btn-default(type='submit') Sign me up!

    hr
    footer
      p © Balls to the Wall 2013



  //Placed at the end of the document so the pages load faster
  script(src='/bootstrap/js/bootstrap.min.js')
  script(src='/javascripts/login-logout.js')
