doctype 5
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title=title
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')


    //if lt IE 9
      script(src='../../assets/js/html5shiv.js')
      script(src='../../assets/js/respond.min.js')
    script(src='http://code.jquery.com/jquery-1.10.1.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/javascripts/login-logout.js')
    link(href='/stylesheets/style.css', rel='stylesheet')
    if user
      script(src='http://localhost:3000/socket.io/socket.io.js')
      script(src='/javascripts/balls.js')
      script(src='/javascripts/search.js')
      script(src='/javascripts/chat.js')


  body
    if user
      #user-data(data-id="#{user.id}",data-name="#{user.name}", style="display: none;")
    .navbar.navbar-fixed-top.navbar-inverse(role='navigation')
      .container
        .navbar-header
          a.navbar-brand(href='/') Balls to the Wall
        .collapse.navbar-collapse
          if user
            ul.nav.navbar-nav
              li(js-nav="")
                a(href='/') Wall
              li(js-nav="friends")
                a(href='/friends') Friends
              li(js-nav="user")
                a(href='/user/#{user.id}') My Profile
              li(js-nav="chat")
                a#chat-toggler Chat

            .navbar-right
              button.btn.btn-danger#logout(type='button') Log out
            .navbar-form.navbar-left#search_field
              .form-group
                input.form-control#search-input(name='search_field', type="text", placeholder="Eg. Dan Andreasson")
              button.btn#search-button(type="button") Search
              #search-results
                button(type="button" class="close" aria-hidden="true") &times
                .search-result#search-result-template
                  a.search-user-link(href="#placeholder") placeholder
                  .glyphicon.glyphicon-comment.pull-right.start-chat
                #search-cleaner

          else
            form.navbar-form.navbar-right#login-form
              .form-group
                input.form-control(name="email", type='text', placeholder='Email@Liu.se')
              .form-group
                input.form-control(name="password", type='password', placeholder='Password')
              button.btn.btn-success(type='submit') Sign in
              button.btn.btn-primary(type='button') Sign up
              .nav-collapse
    .container
      #chat-error.alert.alert-danger(style="display: none;")
    block content

    if (user)
      #chat-container
        #idle-chats
        #chats


      #chat-template
        .chat(data-with="" data-id="" style="display: none;")
          button(type="button" class="close" aria-hidden="true") &times
          h4 Users in chat
          .chat-head
          button.invitebutton.btn.btn-success(type="button") Invite
          .activefriends
          .message-container
          .chat-input-container
            textarea.form-control.chat-input
            button.btn.btn-primary.chat-post(type="button") Send message