body {
  padding: 70px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
}
a {
  color: #00B7FF;
}
#balls .ball {
  float: left;
  margin-right: 5px;
  width: 100px;
  text-align: center;
  border-radius: 50%;
  vertical-align: middle;
  display: table;
  padding: 8px;
  border: 1px solid #eee;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
}
#balls .ball .message {
  display: table-cell;
  vertical-align: middle;
  border-radius: 50%;
  text-align: center;
  word-break: break-all;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  padding: 5px;
}
#balls .ball .message span {
  font-size: 10pt;
  word-break: keep-all;
}
#balls .ball .message .ball-receiver,
#balls .ball .message .ball-sender {
  font-size: 12pt;
  display: block;
  font-style: italic;
  word-break: keep-all;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 0 5px;
}
#logout {
  margin-top: 8px;
}
.navbar-form .form-group,
.navbar-form .btn {
  margin-left: 4px;
}
#profile-header {
  float: right;
  margin-top: -40px;
  min-height: 50px;
  position: absolute;
  margin-left: 800px;
  z-index: 1500;
  width: 200px;
  border-radius: 6px;
  background: #eee;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
#profile-header .profile-avatar {
  display: block;
  margin: auto;
  width: 180px;
  height: 180px;
  margin-top: 10px;
}
#friends .friend {
  width: 200px;
  float: left;
  margin-right: 8px;
}
#friends .friend .friend-ball {
  margin-right: 10px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-size: cover;
  text-align: center;
  float: left;
}
#friends .friend .friend-name {
  width: 200px;
  text-align: center;
  float: left;
}
#search_field {
  margin-left: 40px;
}
#search_field .input {
  float: left;
  margin-right: 10px;
}
#search-results {
  float: left;
  width: 280px;
  margin-top: 5px;
  position: absolute;
  border-radius: 6px;
  background: #eee;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  display: none;
}
#search-results .close {
  margin-right: 5px;
}
#search-results .search-result {
  width: 100%;
  float: left;
  padding: 8px 15px 8px;
}
#search-results .search-result:nth-child(even) {
  background: #ddd;
}
#search-results .search-result .glyphicon {
  cursor: pointer;
}
#search-results #search-result-template {
  display: none;
}
#profile-buttons .btn {
  margin-right: 10px;
}
#ball-workshop {
  width: 100%;
  height: 200px;
  background: #eee;
  display: none;
}
#ball-workshop .form-group {
  margin-top: 10px;
}
#ball-workshop .form-group textarea {
  height: 100px;
}
#ball-workshop .form-group button {
  margin-top: 5px;
  margin-right: 10px;
}
#chat-container {
  width: 315px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9999;
}
#chat-container #idle-chats {
  float: left;
  width: 45px;
  height: 100%;
  padding-top: 50px;
}
#chat-container #idle-chats .idle-chat {
  width: 70px;
  overflow: hidden;
  text-align: center;
  padding: 3px 0;
  height: 20px;
  background: #eee;
  border-top-left-radius: 3px ;
  border-top-right-radius: 3px ;
  float: left;
  cursor: pointer;
  margin-bottom: 70px;
  z-index: 200;
}
#chat-container #idle-chats .idle-chat:not(.active) {
  background: #222;
  color: #eee;
}
#chat-container #chats {
  height: 100%;
}
#chat-container #chats .chat {
  width: 270px;
  border-left: 1px solid #eee;
  background: #eee;
  border-radius: 6px;
  float: left;
  height: 100%;
  position: relative;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  z-index: 150;
}
#chat-container #chats .chat .close {
  margin: 0 4px 0;
}
#chat-container #chats .chat h4 {
  text-align: center;
  padding: 0;
  margin: 0;
}
#chat-container #chats .chat .chat-head {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 2px;
}
#chat-container #chats .chat .chat-head h2 {
  text-align: center;
}
#chat-container #chats .chat .activefriends {
  width: 97%;
  min-height: 60px;
  display: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  padding: 5px;
  margin: 3px auto;
  overflow: hidden;
}
#chat-container #chats .chat .activefriends .activefriend {
  float: left;
  width: 50%;
  cursor: pointer;
}
#chat-container #chats .chat .users-room-container {
  padding: 5px;
}
#chat-container #chats .chat .users-room-container .user-in-room {
  float: left;
  width: 50%;
  cursor: pointer;
}
#chat-container #chats .chat .invitebutton {
  width: 100%;
  margin-bottom: 3px;
}
#chat-container #chats .chat .message-container {
  width: 98%;
  margin: auto;
  position: absolute;
  overflow-y: scroll;
  height: 800px;
}
#chat-container #chats .chat .message-container .message {
  float: left;
  width: 100%;
}
#chat-container #chats .chat .message-container .message .user {
  padding: 2px 5px 2px 0;
}
#chat-container #chats .chat .chat-input-container {
  position: absolute;
  bottom: 10px;
  width: 98%;
  margin: 0 3px;
  height: 100px;
}
#chat-container #chats .chat .chat-input-container .chat-input {
  margin-bottom: 6px;
}
#chat-container #chats .chat .chat-input-container .chat-post {
  width: 100%;
}
.rotate {
  /* Safari */

  -webkit-transform: rotate(-90deg);
  /* Firefox */

  -moz-transform: rotate(-90deg);
  /* IE */

  -ms-transform: rotate(-90deg);
  /* Opera */

  -o-transform: rotate(-90deg);
  /* Internet Explorer */

  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
